.navbarBackground {
    background-color: #213E52;
    color: #f6f6f6;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    -webkit-box-shadow: 0 5px 3px -3px #777;
       -moz-box-shadow: 0 5px 3px -3px #777;
            box-shadow: 0 5px 3px -3px #777;
    /*border-bottom: 2px solid black;*/
}